In [1]:
# !pip install tweepy
# !pip install emoji

In [1]:
import os
import tweepy as tw
from emoji import emojize
import pandas as pd

In [2]:
consumer_key = os.getenv('Twitter_Consumer_Key')
consumer_secret = os.getenv("Twitter_Consumer_Secret")
access_token = os.getenv('Twitter_Access_Token')
access_token_secret = os.getenv('Twitter_Access_Secret')

In [3]:
print(consumer_key)

55oUhlZo1ofeu6wnw0y2SF2x5

In [4]:
print(consumer_secret)

Llkuvk6VjWlYc1dsvY5vWoVOMgpUTzCpsO3g5bYpRWzWQNAxSM

In [5]:
print(access_token)

1346938257074839555-mOSSVCTFmgDXKNIej0z2mikvU3QiQM

In [6]:
print(access_token_secret)

iSnQ9fOv9VTk5e4mawrkesszZxs22Sz2x5ur3ArtnTYAM

In [10]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth,wait_on_rate_limit=True)
print(api.verify_credentials().name)
print('Successfully connected to the Twitter API.')

Ryearwood
Successfully connected to the Twitter API.

In [11]:
query = '#angry'
max_requests = 180

In [12]:
q = emojize(query) + ' -filter:retweets'
searched_tweets = []
last_id = -1
request_count = 0
while request_count < max_requests:
    try:
        new_tweets = api.search_tweets(q=q,
                                       lang='en',
                                       count=100,
                                       max_id=str(last_id - 1),
                                       tweet_mode='extended')
        if not new_tweets:
            break
        searched_tweets.extend(new_tweets)
        last_id = new_tweets[-1].id
        request_count += 1
    except tw.TweepError as error:
        print(error)
        break

In [14]:
data = []
for tweet in searched_tweets:
    data.append([tweet.id, tweet.created_at, tweet.user.screen_name, tweet.full_text])
df = pd.DataFrame(data=data, columns=['id', 'date', 'user', 'text'])
print(str(len(data)) + ' ' + query + ' tweets')

350 #angry tweets

In [21]:
print(f"Dataframe Shape: {df.shape}\n")
df.head()

Dataframe Shape: (350, 4)

,id,date,user,text
0,1446277185673875463,2021-10-08 00:52:06+00:00,TheLostCosmona2,Me when I'm currently going 15k for a shiny Re...
1,1446265748146507781,2021-10-08 00:06:39+00:00,nanamiscumrag,#ANGRY #SOUYAKAWATA The Strength of a 100 Men ...
2,1446261486695985157,2021-10-07 23:49:43+00:00,Lauriemcaughtry,I'm no poet but it's #NationalPoetryDay so her...
3,1446247009330077698,2021-10-07 22:52:11+00:00,bluazn,@PayPal trying to withdraw money but cannot ü§¶üèª...
4,1446233988478038021,2021-10-07 22:00:27+00:00,AnneBinns7,Why cant the government see this?\nWhy this mi...

In [17]:
filename = query + '.csv'
df.to_csv("data/Datasets/"+filename, index=None)