In [1]:
# Load Libraries and packages
import numpy as np
import pandas as pd

# Extractive Text Summarizer Libraries
from sumy.parsers.plaintext import PlaintextParser
from sumy.nlp.tokenizers import Tokenizer
from sumy.summarizers.lex_rank import LexRankSummarizer
from sumy.summarizers.lsa import LsaSummarizer
from sumy.summarizers.luhn import LuhnSummarizer
from sumy.summarizers.kl import KLSummarizer

# Abstractive Text Summarizers
## T5 Models
from transformers import T5Tokenizer, T5Config, T5ForConditionalGeneration
## BART Model
from transformers import BartForConditionalGeneration, BartTokenizer, BartConfig
## GPT-2 Model
from transformers import GPT2Tokenizer,GPT2LMHeadModel

In [2]:
col_names = ['Document_No', 'Dominant_Topic', 'Topic_Keywords', 'Text']
data = pd.read_csv('data/top_dominant_results.csv',usecols=col_names)
data.head()

,Document_No,Dominant_Topic,Topic_Keywords,Text
0,0,9.0,"car, call, company, tell, work, would, say, da...",Giving this location a low rating only because...
1,1,3.0,"order, wait, ask, say, minute, table, take, te...",I'll start off by saying that this was my favo...
2,2,3.0,"order, wait, ask, say, minute, table, take, te...",The mille crepe cake my sister gifted me for m...
3,3,7.0,"pizza, restaurant, love, service, bar, order, ...",Go someplace else there are better hotels in t...
4,4,9.0,"car, call, company, tell, work, would, say, da...",Used them a number of years ago and they were ...

In [3]:
print(f'Number of Rows in Dataframe: {len(data)}\n')
print(data.isnull().sum())

Number of Rows in Dataframe: 335433

Document_No         0
Dominant_Topic    143
Topic_Keywords    143
Text                0
dtype: int64

In [4]:
data.dropna(subset=['Dominant_Topic','Topic_Keywords'], inplace=True)
print(f'Number of Rows in Dataframe: {len(data)}\n')

Number of Rows in Dataframe: 335290

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 18]

In [6]:
data['Dominant_Topic'] = data['Dominant_Topic'].astype(int)
data.head()

,Document_No,Dominant_Topic,Topic_Keywords,Text
0,0,9,"car, call, company, tell, work, would, say, da...",Giving this location a low rating only because...
1,1,3,"order, wait, ask, say, minute, table, take, te...",I'll start off by saying that this was my favo...
2,2,3,"order, wait, ask, say, minute, table, take, te...",The mille crepe cake my sister gifted me for m...
3,3,7,"pizza, restaurant, love, service, bar, order, ...",Go someplace else there are better hotels in t...
4,4,9,"car, call, company, tell, work, would, say, da...",Used them a number of years ago and they were ...

In [ ]:
data['Text'] = data.groupby(['Dominant_Topic'])['Text'].transform(lambda x : '.'.join(x))
data = data.drop_duplicates()
data

In [22]:
for topic_number in sorted(data['Dominant_Topic'].unique()):
    topic_sentences = data.loc[data['Dominant_Topic'] == topic_number]
    print(len(topic_sentences))

476
11667
56711
49679
23300
23188
16116
105747
15367
31786
1141
6
59
2
4
41

In [23]:
type(data.loc[data['Dominant_Topic'] == 4])

pandas.core.frame.DataFrame