In [1]:
# Load Libraries and packages
import numpy as np
import pandas as pd

import text2emotion as te

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\russe\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\russe\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\russe\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
col_names = ['Document_No', 'Dominant_Topic', 'Topic_Keywords', 'Text']
data = pd.read_csv('data/top_dominant_results.csv', usecols=col_names)
data.head()

,Document_No,Dominant_Topic,Topic_Keywords,Text
0,0,9.0,"car, call, company, tell, work, would, say, da...",Giving this location a low rating only because...
1,1,3.0,"order, wait, ask, say, minute, table, take, te...",I'll start off by saying that this was my favo...
2,2,3.0,"order, wait, ask, say, minute, table, take, te...",The mille crepe cake my sister gifted me for m...
3,3,7.0,"pizza, restaurant, love, service, bar, order, ...",Go someplace else there are better hotels in t...
4,4,9.0,"car, call, company, tell, work, would, say, da...",Used them a number of years ago and they were ...

In [12]:
data.shape

(335433, 4)

In [3]:
text = data['Text'][5]
print(text)

The pork meatballs are the best flavour- the other ones were somewhat dry. I recommend the the rigatoni it's amazing! I have gone back a few times now and the flavour has been consistent.

In [4]:
te.get_emotion(text)

{'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.6, 'Sad': 0.0, 'Fear': 0.4}

## TODO

1) Run Analysis on every sentence and store in respective Column/Row
2) Group by Dominant_Topic
3) Run Mean Aggregation for each Emotion in Dictionary
4) Assign Label to Topic group based on highest averages

### 1.

In [5]:
import timeit

In [6]:
test_data = data.iloc[:100]
test_data.shape

(100, 4)

In [10]:
# %%timeit

apply_data = data.iloc[:5]
# Apply Function to each row in test_df
emotion_scores_df = apply_data.apply(lambda row: te.get_emotion(row.Text), axis='columns', result_type='expand')
apply_data = pd.concat([apply_data, emotion_scores_df], axis=1)

In [11]:
apply_data

,Document_No,Dominant_Topic,Topic_Keywords,Text,Happy,Angry,Surprise,Sad,Fear
0,0,9.0,"car, call, company, tell, work, would, say, da...",Giving this location a low rating only because...,0.03,0.09,0.15,0.27,0.45
1,1,3.0,"order, wait, ask, say, minute, table, take, te...",I'll start off by saying that this was my favo...,0.12,0.04,0.22,0.29,0.33
2,2,3.0,"order, wait, ask, say, minute, table, take, te...",The mille crepe cake my sister gifted me for m...,0.50,0.00,0.10,0.40,0.00
3,3,7.0,"pizza, restaurant, love, service, bar, order, ...",Go someplace else there are better hotels in t...,0.00,0.00,0.14,0.14,0.71
4,4,9.0,"car, call, company, tell, work, would, say, da...",Used them a number of years ago and they were ...,0.06,0.08,0.17,0.25,0.43

In [8]:
%%timeit

results = pd.DataFrame(test_data['Text'].map(te.get_emotion).tolist())

1min ± 1.57 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

### Result:
- Too Time-Consuming to apply to each row. Resolve with Trained DNN Model